@import url(bootstrap.css);


body {
       background-image:url "https://f.cloud.github.com/assets/5033768/955914/7e3703ee-0433-11e3-9ff6-8671a729f69c.jpg"; 
} 

h1 {
    color:GreenYellow;
    text-align:Center;
    font-family:"Courier New";
    
}

h2 {
   color:Cyan;
   font-family:"Courier New";
   background-color:RoyalBlue;
}
  
p  {
     color:Navy;
    text-align:Center;
    font-family:"Courier New";
   background-color:GreenYellow;
}
